//breakpoints
//1. Mobile screen 480px
//2. Tablet 768px
//3. dekstop 1200px
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    //phone
    @include mq('m') {
        max-width: 480px;
    }
    //tablet
    @include mq('t') {
        max-width: 768px;
    }
    //dekstop
    @include mq('d') {
        max-width: 1200px;
    }
}