:root {
    --prime-color: #ffffff;
    --hero-color: #2f303a;
    --prime-text-color: #757575;
    --prime-title-color: #212121;
    --prime-accent-color: #2196f3;
    --prime-black-color: #000000;
    --footer-bg-color: #2f303a;
    --header-border-color: #ececec;
    --border-item-color: #ececec;
    --grey-bc-color: #f5f4fa;
    --icon-bg-color: #f5f5f5;
    --clients-icon-color: #afb1b8;
    --anim-slow: 600ms cubic-bezier(0.4, 0, 0.2, 1);
    --anim-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}