.page {
    color: var(--prime-text-color);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

.grey-bc-color {
    background-color: var(--grey-bc-color);
}

.no-bottom-pd {
    padding-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    font-style: normal;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}