/* ========================
||ПОСТІЙНІ КЛІЄНТИ
============================*/

.clients__list {
    display: flex;
    justify-content: center;
    gap: 30px;
    @include mq('d', max) {
        flex-wrap: wrap
    }
}

.clients__item {
    height: 92px;
    flex: 1 1 calc((100% - 30px) / 2);
    @media screen and (min-width: 768px) {
        flex: 1 1 calc((100% - 60px) / 3);
    }
    @media screen and (min-width: 1200px) {
        flex: 1 1 calc((100% - 150px) / 6);
    }
}

.clients__link {
    color: var(--clients-icon-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 92px;
    border: 1px solid var(--clients-icon-color);
    border-radius: 4px;
    transition: color var(--anim-fast), border-color var(--anim-fast);
    &:hover,
    &:focus {
        color: var(--prime-accent-color);
        border-color: var(--prime-accent-color);
    }
}

.clients__icon {
    fill: currentColor;
}