/* -----info section style------ */

.feature__list {
    @include mq('t') {
        color: var(--prime-text-color);
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
    }
}

.feature__item {
    margin-bottom: 30px;
    @include mq('t') {
        margin-bottom: 0px;
        width: calc((100% - 60px) / 2);
    }
    @include mq('d') {
        width: calc((100% - 90px) / 4);
    }
}

.feature__item:last-child {
    margin-bottom: 0px;
}

.feature__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: var(--grey-bc-color);
}

.feature__title {
    color: var(--prime-title-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
    @include mq('t') {
        text-align: start;
    }
}

.feature__text {
    line-height: 1.71;
}