.page-footer {
    background-color: var(--dark-bg);
    padding: 60px 0;
}

.footer-span {
    color: var(--prime-accent-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    @include mq('d') {
        font-size: 26px;
    }
}

.footer-link {
    text-decoration: none;
    color: var(--prime-color);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    @include mq('d') {
        font-size: 26;
        line-height: 1.19;
    }
}

.page-footer__list {
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: baseline;
        // gap: 165px;
        flex-wrap: wrap;
    }
}

.page-footer__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    @media screen and (min-width: 768px) {
        margin-left: 61px;
    }
    @media screen and(min-width:1200px) {
        align-items: flex-start;
        margin-left: 0;
        margin-bottom: 0;
    }
}

.page-footer__social-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: 767px) {
        margin-bottom: 60px;
    }
    @media screen and (min-width: 768px) {
        margin-left: 165px;
    }
    @media screen and(min-width:1200px) {
        margin-left: 70px;
        align-items: flex-start;
    }
}

.footer-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 768px) {
        margin: 0 auto;
    }
    @media screen and (min-width: 1200px) {
        margin: 0 0 0 93px;
        align-items: flex-start;
    }
}

.footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    @media screen and (min-width: 1200px) {
        flex-direction: row;
        align-items: flex-start;
        gap: 12px;
    }
}

.footer-form-text {
    text-transform: uppercase;
    font-weight: 700;
    line-height: calc(16 / 14);
    color: #FFFFFF;
    margin-bottom: 20px;
}

.footer-label {
    position: relative;
    width: 100%;
}

.footer-input {
    height: 50px;
    @media screen and (max-width: 479px) {
        width: 100%;
    }
    @media screen and (min-width: 480px) {
        width: 450px;
    }
    @media screen and (min-width: 1200px) {
        width: 358px;
    }
    background-color: var(--dark-bg);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 0 15px;
    font-size: 16px;
    line-height: 1.25;
    color: var(--primary-white);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
        border-color: var(--accent-color);
    }
}

.footer-label-text {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    font-size: 16px;
    line-height: 1.25;
    color: var(--opacity-white);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform-origin: left;
    .footer-input:focus+&,
    .footer-input:not(:placeholder-shown)+& {
        transform: translate(-20px, 40px) scale(0.95);
    }
}

.send-icon {
    width: 24px;
    height: 24px;
    fill: var(--primary-white);
}

.footer-email-bottom {
    position: relative;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    padding: 13px 28px;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    background-color: var(--prime-accent-color);
    color: var(--prime-color);
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    cursor: pointer;
}

.info__address {
    margin-top: 20px;
    font-size: 14px;
    line-height: calc(21 / 14);
    font-style: normal;
}

.info__maps {
    color: var(--primary-white);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.info__link {
    color: var(--opacity-white);
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--primary-white);
    }
}

.info__contact {
    list-style-type: none;
    margin-top: 9px;
    display: flex;
    flex-direction: column;
    gap: 9px;
    align-items: center;
    @media screen and(min-width: 1200px) {
        align-items: flex-start;
    }
}

.social-container__call {
    color: var(--primary-white);
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-transform: uppercase;
}

.social-container__social-list {
    margin-top: 20px;
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-list__icon {
    width: 20px;
    height: 20px;
    display: block;
    fill: currentColor;
    &--white {
        fill: var(--primary-white);
    }
}

.social-list__link {
    height: 44px;
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    &--active-white {
        color: var(--icon-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            background-color: var(--accent-color);
            color: var(--primary-white);
        }
    }
    &--black {
        background: var(--transparent-black);
        transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            background-color: var(--accent-color);
        }
    }
}