/* Hero SEction */

.hero {
    background-color: var(--hero-color);
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero--overlay {
    max-width: 1600px;
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient( rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/header-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero__container {
    text-align: center;
}

.hero__title {
    color: var(--prime-color);
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.section-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--prime-title-color);
}


/* -----------Button------------- */

.button {
    margin: 0 auto;
    color: var(--prime-color);
    font-size: 16px;
    line-height: 1.85;
    font-weight: 700;
    border-radius: 4px;
    padding: 10px 32px;
    margin-top: 30px;
    letter-spacing: 0.06em;
}


/* button */

.button--hero {
    cursor: pointer;
    background-color: var(--prime-accent-color);
    min-width: 216px;
    border: none;
}