/* -----info section style------ */

.feature {
    color: var(--prime-text-color);
    display: flex;
    gap: 30px;
}

.feature__item {
    width: calc((100% - 90px) / 4);
}

.feature__title {
    color: var(--prime-title-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.feature__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: var(--grey-bc-color);
}

.feature__text {
    line-height: 1.71;
}