/* -------img section----------- */

.jobs__list {
    display: flex;
    gap: 30px;
}

.jobs__thumb {
    position: relative;
}

.jobs__text {
    height: 70px;
    width: 100%;
    padding: 27px 0;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--prime-color);
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}